# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.xcscmblueprint
*.xccheckout
DerivedData/

# Swift Package Manager
.build/
.swiftpm/
.netrc
Package.resolved

# Fastlane / archives
*.ipa
*.xcarchive
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Local
*.local
*.log

# Claude Code
.claude/
